@import "./base";

#app {
  #count {
    grid-row: 3;
    grid-column: 2;
  }
  #arrival {
    grid-row: 1;
    grid-column: 2;
  }
  #departure {
    grid-row: 1;
    grid-column: 1;
  }
  #distance {
    grid-row: 2;
    grid-column: 1;
  }
  #airtime {
    grid-row: 2;
    grid-column: 2;
  }
  #dep_delay {
    grid-row: 3;
    grid-column: 1;
  }
  #arr_delay {
    grid-row: 3;
    grid-column: 2;
  }
  #delay {
    grid-row: 3;
    grid-column: 1;
  }

  #logs {
    grid-row: 1;
    grid-row-end: 4;
    grid-column: 3;
  }
}
