body {
  font-family: sans-serif;
}

#app {
  display: grid;
  grid-template-columns: min-content;
  grid-gap: 10px;
  grid-auto-rows: min-content;
  justify-content: start;
}

#version {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: #666;
  a {
    color: #666;
    &:hover {
      color: black;
    }
  }
}

#loading {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  background-color: rgba(210, 210, 210, 0.8);
  font-weight: bold;
  color: #666;
}
