.cache
.rpt2_cache*
.vscode/tags
build
data/.ipynb_checkpoints
data/altair-data-*
dist
gaia-mapd/app.scss
gaia-mapd/index.html
gaia-mapd/index.ts
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
