body {
  font: 10px sans-serif;
}

.view {
  border: 1px solid red;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  color: #999;
}

.bar {
  rect {
    fill: steelblue;
  }

  text {
    fill: #fff;
  }
}
