@import "../flights/base";

#app {
  #phot_g_mean_mag {
    grid-row: 1;
    grid-column: 1;
  }
  #parallax {
    grid-row: 1;
    grid-column: 2;
    grid-column-end: 4;
  }
  #radec {
    grid-row: 2;
    grid-column: 1;
  }
  #hrdiag {
    grid-row: 2;
    grid-column: 2;
  }
  #count {
    grid-row: 2;
    grid-column: 3;
  }
  #radial_velocity {
    grid-row: 3;
    grid-column: 1;
  }
}
