@import "../flights/base";

#app {
  #count {
    grid-row: 4;
    grid-column: 1;
  }
  #elevation {
    grid-row: 1;
    grid-column: 1;
  }
  #wind {
    grid-row: 1;
    grid-column: 2;
  }
  #tempmin {
    grid-row: 2;
    grid-column: 1;
  }
  #tempmax {
    grid-row: 2;
    grid-column: 2;
  }
  #precipitation {
    grid-row: 3;
    grid-column: 1;
  }
  #snow {
    grid-row: 3;
    grid-column: 2;
  }
}
