body {
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: min-content;
  grid-gap: 20px;
  grid-auto-rows: min-content;
  justify-content: start;

  #count {
    grid-column: 1;
    grid-row: 1;
  }
  #imdb {
    grid-column: 2;
    grid-row: 1;
  }
  #tomatoes {
    grid-column: 1;
    grid-row: 2;
  }
}
