name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    name: Publish to NPM

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.5.1
        with:
          registry-url: "https://registry.npmjs.org"
      - name: Install Node dependencies
        run: yarn --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Publish to NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
