name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v5
      - name: Install Node dependencies
        run: yarn --frozen-lockfile
      - run: yarn test
      - run: yarn tsc
      - run: yarn build
